@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--white: #FFFFFF;
	--black: #000000;
	--dark-grey: #222222;
	--light-grey: #2f2f2f;
	--lighter-grey: #8a8a8a;
	--lightest-grey: #EEEEEE;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}
