.icon {
    text-decoration: none;

    .icon__content {
        padding: 1rem;
        background-color: var(--light-grey);
        color: white;
        font-size: 1.5rem;
        border-radius: 50%;
        transition: all .3s ease;
    }

    .icon__content:hover {
        transform: translateX(-5px);
    }
}